#container {
	max-width: 900px;

	}

header {
	float: none;
	}
header h1,h2 {
	text-align: center;
}	
header ul {
	text-align: center;
	margin-left: 0px;
	margin-top: 0px;

}
header ul li {
	margin-right: 0px;
	display: block;
	margin-top: -10px;
}
nav {
	float: none;
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;

}

nav ul li {
	display: inline;
	margin-right:3em;
	padding: 0px;
}
nav ul li a {
	display: inline-block;
	
}
nav#secondary ul {
	border-top:none;
	border-bottom: none;
	text-align: center;
	padding-top: 0px;
	padding-bottom: 0px;
}
nav#secondary ul li {
	display: inline;
	margin-right:20px;
	padding: 0px;
	
}
nav#secondary ul li a {
	display: inline-block;
	font-size: 1em;
}

#left-space {
	margin:0;
	width: 33.33%;
	padding-bottom: 0px;

}
#space-container-right {
		margin:0;
	width: 66.66%;
}
#middle-space {
	margin:0;
	width: 50%;
}
#right-space {
	margin:0;
	width: 50%;
		}

#right-wrap {
	width: 100%;
	float: left;
	padding-bottom: 0px;
	}
#left-column {
	width:100%;
	padding-bottom: 0px;

}
#middle-column {
	width:100%;
	padding-bottom: 0px;
	
}
#right-column {
	width:100%;
	padding-bottom: 0px;

}

/*footer styles*/
#footer {
	width: 100%;
}
#right-container-connect {
	width: 100%;
	float: left;
	padding-bottom: 0px;
	background-repeat: repeat;
	}
#left-column-connect {
	float: none;
	width:100%;
	padding-bottom: 0px;

}
#middle-column-connect {
	float: none;
	width:100%;
	padding-bottom: 0px;
	border-right: none;
	border-left:none;
	background-image: url('images/dark_fish_skin.png');
	background-repeat: repeat;
	border-top: 1px dotted #818181;
	border-bottom: 1px dotted #818181;


	
}
#right-column-connect {
	float: none;
	width:100%;
	padding-top: 12px;
	padding-bottom: 10px;
	background-repeat: repeat;
	background-image: url('images/dark_fish_skin.png');
	background-repeat: repeat;	
	
}

#right-column-connect p {
	text-align: center; 
	
	
	}

